CREATE TABLE "ALL_BUGS" (
"Bug ID",
"Component",
"Target Release",
"Assignee",
"Status",
"Summary",
"Keywords",
"PM Score",
"External Bugs",
"Snapshot" DATE
);

CREATE UNIQUE INDEX "UK_AB_ID_SNAPSHOT" ON "ALL_BUGS" ("Bug ID","Snapshot");