---
Teams:
  - name: <team name>
    lead: Jane Doe <jdoe@example.com>
    group: 0
    components:
     - Bugzilla Component 1
     - Bugzilla Component 2
Groups:
  - id: 0
    lead: Sarah Connors <sconnors@timetravel.org>
Sources: # Info about saved bugzilla queries and the tables to store them in
  source_keyword:
    search: <Bugzilla saved report id>
    sharer: <Bugzilla saved report sharer id>
    table:  <Shiftzilla storage table>
    fields:
      - <bugzilla field id>
      - <bugzilla field id>
      - <bugzilla field id>
Releases: # Target Release values to include in queries
  - name: 0.0.1
    targets:
      - 0.0.1
      - 0.0.1.a
    milestones:
      start:            'YYYY-MM-DD'
      feature_complete: 'YYYY-MM-DD'
      code_freeze:      'YYYY-MM-DD'
      ga:               'YYYY-MM-DD'
  - name: 0.0.2
    targets:
      - 0.0.2
    milestones:
      start:            'YYYY-MM-DD'
      feature_complete: 'YYYY-MM-DD'
      code_freeze:      'YYYY-MM-DD'
      ga:               'YYYY-MM-DD'
SSH:
  host: <remote host>
  path: <absolute path on remote host>
  utl:  <publication url>
