---
Teams:
  - name: <team name>
    lead: Jane Doe <jdoe@example.com>
    group: 0
    components:
     - Bugzilla Component 1
     - Bugzilla Component 2
Groups:
  - id: 0
    lead: Sarah Connors <sconnors@timetravel.org>
Milestones:
  - Start: 'YYYY-MM-DD'
  - FeatureComplete: 'YYYY-MM-DD'
  - CodeFreeze: 'YYYY-MM-DD'
  - GA: 'YYYY-MM-DD'
Sources: # Info about saved bugzilla queries and the tables to store them in
  source_keyword:
    search: <Bugzilla saved report id>
    sharer: <Bugzilla saved report sharer id>
    table:  <Shiftzilla storage table>
    fields:
      - <bugzilla field id>
      - <bugzilla field id>
      - <bugzilla field id>
Releases: # Target Release values to include in queries
  - 0.0.1
  - 0.0.2
SSH:
  host: <remote host>
  path: <absolute path on remote host>
  utl:  <publication url>
